html, body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    height: 60px;
}

header h1 {
    margin: 0;
    margin-left: 30px;
    font-family: Helvetica;
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
    text-shadow: 0px 0px 5px #000;
}

nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

nav a {
    color: #fff;
    font-family: Helvetica;
    font-size: 14px;
    text-decoration: none;
}
